/*emerald lake.css*/

body{
    background-color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.special-passage{
    margin-right:25%;
    margin-left:25%;
    
}

 

